$base_top_bg: #e71516;
$base_top_bg_s: #ef473a;
$base_top_bg_l: #a60607;
$base_footer_bg: #333;
$side_list_bg: #444;
$base_footer_color: #C1C1C1;
$content_bg: #ececec;

$base_blue: #0894ec;
$base_red: #e71516;
$base_violet: #886aea;

$love: #ffc900;

$base_blue_ac: #0a8ddf;
$base_red_ac: #c00a0b;
$base_violet_ac: #6851b5;

$base_black: #343434;

$a_color: #0894ec;

$fff: #fff;


/* lottery */
$ball-27: 27px;
$ball-22: 22px; 
$ball-24: 24px;
$ball-30: 30px;


$ball_item_bg: #f8f8f8;
/* lottery */
